body { background-color:white !important; }

.navbar-custom { 
    background-color: lightgray; 
} 

.navbar{
	height:20em;
}
.navbar li{
	text-decoration:none;
	   list-style-type: none;
}

.logo-index {
	width:450px;	
}

.login-box {
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
	margin-bottom:50px;
}



.accountText {
margin-bottom:150px;
margin-top:100px;	
}

.icon-image {
	width:200px;


}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

form {border: 3px solid #f1f1f1;}


.icon-label {
		text-align:center;
		font-size:30px;
		text-decoration:none;
		color:black;
}

.container-login {
	text-align:center;
	width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
	
}
